<!-- Loop over each object in the projects array -->
<div class="card">
    <form action="submit" id="postForm">
        <label for="post">create a post here</label>
        <input class="input" type="text" id="title" placeholder="title your post">
        <input class="input" type="text" id="post" placeholder="write here">
        <button type="submit" class="button is-link">Create Post</button>
    </form>
</div>

{{#each post as |posts| }}
<div class="post">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{posts.title}}</p>
                </div>
            </div>
            <div class="content">
                {{posts.contents}}
                <br>
                <time datetime='{{posts.date_created}}'>{{posts.date_created}}</time>
            </div>
        </div>
    </div>
    <div class="card" id="{{posts.id}}">
        <form action="submit" id="commentForm">
            <input class="input" type="text" id="comment" placeholder="comment here">
        </form>
    </div>
    {{!-- renders each comment --}}
    {{#each posts.comments as |comments| }}
    <div class="card">
        <p>{{comments.text}}</p>
    </div>
    {{/each}}
</div>
{{/each}}

<script src="/js/dashboard.js"></script>