<!-- Loop over each object in the projects array -->
{{#each post as |posts| }}
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{posts.title}}</p>
            </div>
        </div>
        <div class="content">
            {{posts.contents}}
            <br>
            <time datetime='{{posts.date_created}}'>{{posts.date_created}}</time>
        </div>
    </div>
</div>
{{#each comment as |comments| }}
<p>{{comments.text}}</p>
{{/each}}
{{/each}}